* {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 transparent; /* Thumb and track colors for Firefox */
  }
  
  *::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the thumb */
    border-radius: 8px; /* Rounded corners for the thumb */
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Color of the thumb when hovered */
  }
  
  *::-webkit-scrollbar-track {
    background: transparent; /* Background of the scrollbar track */
  }


.accordion-content-enter {
    opacity: 0;
    max-height: 0;
    /* Start hidden */
    transform: scaleY(0);
    /* Scale down */
}

.accordion-content-enter-active {
    opacity: 1;
    max-height: 100vh;
    /* Expand to full height */
    transform: scaleY(1);
    /* Scale up */
    transition: opacity 300ms ease, max-height 300ms ease, transform 300ms ease;
    /* Animation properties */
}

.accordion-content-exit {
    opacity: 1;
    max-height: 100vh;
    /* Start fully visible */
    transform: scaleY(1);
    /* Scale up */
}

.accordion-content-exit-active {
    opacity: 0;
    max-height: 0;
    /* Collapse */
    transform: scaleY(0);
    /* Scale down */
    transition: opacity 300ms ease, max-height 300ms ease, transform 300ms ease;
    /* Animation properties */
}

-webkit-scrollbar {
    width: '8px';
}

-webkit-scrollbar-thumb {
    background-color: '#888';
    border-radius: '8px';
}

-webkit-scrollbar-thumb:hover {
    background-color: '#555';
}

.css-dqrght-MuiTable-root {
    table-layout: auto !important;
}

.customClass {
    table-layout: auto !important;
}

table.MuiTable-root.css-1540n7i-MuiTable-root {
    table-layout: auto I !important; 
}

.MuiBox-root .css-absfm6{
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;

    /* -webkit-scrollbar {
        width: '8px';
    }
    
    -webkit-scrollbar-thumb {
        background-color: '#888';
        border-radius: '8px';
    }
    
    -webkit-scrollbar-thumb:hover {
        background-color: '#555';
    } */
}