@tailwind base;
@tailwind components;
@tailwind utilities;


.tox .tox-promotion{
    display: none;
}

.css-dqrght-MuiTable-root {
    table-layout: auto !important;
}

.customClass{
    table-layout: auto !important;
}